name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      release:
        description: 'Release? yes/no'
        default: 'no'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jira-version: ["7.2.0", "7.13.0", "8.0.0", "8.5.0", "8.13.0", "8.20.0", "9.0.0"]
    env:
      JIRA_SOFTWARE_VERSION: ${{ matrix.jira-version }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Cache Gradle
      uses: actions/cache@v2
      with:
        path: ~/.gradle
        key: ${{ runner.os }}-${{ hashFiles('gradle') }}
    - name: Build
      run: ./gradlew build
    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: build/reports/tests
  build-check:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "All build jobs successful."
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    needs: build-check
    if: github.event.inputs.release == 'yes'
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Cache Gradle
      uses: actions/cache@v2
      with:
        path: ~/.gradle
        key: ${{ runner.os }}-${{ hashFiles('gradle') }}
    - name: Get publish token
      id: publish-token
      uses: atlassian-labs/artifact-publish-token@v1.0.1
    - name: Release
      env:
        atlassian_private_username: ${{ steps.publish-token.outputs.artifactoryUsername }}
        atlassian_private_password: ${{ steps.publish-token.outputs.artifactoryApiKey }}
      run: |
        ./gradlew release \
            -Prelease.customUsername=${{ github.actor }} \
            -Prelease.customPassword=${{ github.token }}
        ./gradlew publish
